<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title | default: site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        code, kbd, samp{
            font-family: Fira Code, Consolas, monospace !important;
        }
        li{
            list-style-type: circle !important;
        }
        strong{
            font-weight: bolder !important;
        }
    </style>
</head>
<body>
    <div class=" red darken-4 white-text z-depth-2">
        <nav class=" container  red darken-4 z-depth-0" style="width: 100%;height: 75px;padding-top: 5px">
            <span style="font-size: 35px;margin-left: 15px;font-weight: lighter">{{ page.title }}</span>
            <span class="flow-text hide-on-small" style="font-size: 16px;margin-left: 5px;">{{ page.description }}</span>
            <a href="./{{page.next}}" class="btn right hide-on-small white darken-1 rounded black-text" style="margin-top: 14px;margin-right: 5px"><i class="material-icons" style="line-height: inherit !important">arrow_forward</i></a>
        </nav>
    </div>
    <div class="container" style="margin-top: 50px;margin-bottom: 50px">
        {{ content }}
    </div>
    <footer class="container">
        <div class="divider"></div><br><br>
        <a href="./{{page.next}}" class="btn  red darken-3">
            <i class="material-icons right">arrow_forward</i>下一页</a>
        <p>本项目在 <a href="https://github.com/pkuschool/intro/">GitHub</a> 上开源运营，一起来做贡献吧！</p>
    </footer>
</body>
</html>
